body{
    background-color: rgb(44, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 300px;
    /* height: 500px; */
    background-color: rgb(20, 19, 19);
    border: 1px solid transparent;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.image{
    padding-bottom: 350px;
}
img{
    width: 100px;
    border: 1px solid transparent;
    border-radius: 50%;
    /* padding-top: 90%; */
    height: 100px;
}
h1{
    color: gray;
    padding-top: 100px;
    font-size: 30px;
}